# Python / Ambiente
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
venv/
.venv/

# IDE / Editor
.vscode/
.idea/

# Logs e temporários
*.log
*.tmp

# Relatórios gerados
reports/

# SO
Thumbs.db
Desktop.ini